---
import BaseLayout  from '../layouts/BaseLayout.astro'
import Greets from '../components/Greets'

const pageTitle = "首页"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awsome blog subtitle</h2>

	<h1>我的Astro站点</h1>

	<Greets client:load messages={["Hej", "Hallo", "Hola", "Habari"]}/>

</BaseLayout>
