---
import Navigation  from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <Hamburger/>
    <ThemeIcon />
    <nav class="nav-links">
        <Navigation url = "/" title="首页" />
        <Navigation url = "/blog" title="博客" />
        <Navigation url = "/about" title="关于" />
        <Navigation url = "/tags" title="标签" />

    </nav>
</header>
